h1, .font-display {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.intraad-banner {
    margin: 0;
    padding: 0;
    background: #2FFF3E;
    height: 5vh;
    display: flex;
    align-items: center;
}

.intraad-banner .links--row {
    border: 1px solid blue;
    width: 25%;
}

.links--row {
    display: flex;
    gap: 0.15rem;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    align-items: center;
}

.links--row figcaption {
    width: 18vw;
}