<aside class="aside-right">
	<section>
		<h4>Web Passport</h4>
		<p>Badges, blinkies, and banners from places I hang out at online.</p>
		<a href=https://atwar-game.com/r/2543233><img src=https://atwar-game.com/user/2543233/signature.png
				alt=atWar></a>
	</section>
</aside>