<marquee class="intraad-banner" behavior="slide">
  <figure class="links--row ">
    <!-- https://stackoverflow.com/questions/1141639/how-to-semantically-provide-a-caption-title-or-label-for-a-list-in-html -->
    <figcaption class="font-display">Support my work</figcaption>
    <ul class="links--row">
      <li><a href="https://throne.com/s4gu4r0" target="_blank" rel="noopener noreferrer external" title="Wishlist"><img
            src="" alt="Wishlist" /></a></li>
      <li><a href="#" target="_blank" rel="noopener noreferrer external" title="CashApp"><img
            src="assets/img/cashapp.png" alt="CashApp" /></a>
      </li>
      <li><a href="#" target="_blank" rel="noopener noreferrer external" title="Venmo"><img src="assets/img/venmo.png"
            alt="Venmo" /></a>
      </li>
      <li><a href="#" target="_blank" rel="noopener noreferrer external" title="PayPal"><img src="assets/img/paypal.png"
            alt="PayPal" /></a>
      </li>
    </ul>
  </figure>
</marquee>